h1 {
    font-family: "微软雅黑";
    font-weight: 400;
}

p {
    text-indent: 2em;
}

.noindent {
    text-indent: 0;
}

#a {
    color: red;
    text-decoration: line-through;
    text-align: right;
    letter-spacing: 2px;
    line-height: 1.5;
}
